<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Wasion.PMS.WinUI.Properties.Settings.AdventureWorksConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=AdventureWorks;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>