<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
     <section name="Plugins" type="Hex.Framework.Model.PluginsSection,Framework"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Hex.Framework.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.data>
    <DbProviderFactories>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
      <!--<add name="Informix Data Provider" invariant="IBM.Data.Informix" description=".Net Framework Data Provider for Informix" type="IBM.Data.Informix.IfxFactory, IBM.Data.Informix" />
      <add name="DB2 Data Provider" invariant="IBM.Data.DB2.iSeries" description=".Net Framework Data Provider for DB2 iSeries" type="IBM.Data.DB2.iSeries.DB2Factory, IBM.Data.DB2.iSeries" />
      <add name="Firebird Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description="Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient"/>
      <add name="Oracle Data Provider" invariant="Oracle.DataAccess.Client" description=".Net Framework Data Provider for Oracle" type="Oracle.DataAccess.Client.OracleClientFactory, Oracle.DataAccess" />
      <add name="PostgreSQL Data Provider Data Provider" invariant="Npgsql" description=".Net Framework Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql" />
      <add name="Odbc Data Provider" invariant="System.Data.Odbc" description=".Net Framework Data Provider for Odbc" type="System.Data.Odbc.OdbcFactory, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <add name="OleDb Data Provider" invariant="System.Data.OleDb" description=".Net Framework Data Provider for OleDb" type="System.Data.OleDb.OleDbFactory, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <add name="OracleClient Data Provider" invariant="System.Data.OracleClient" description=".Net Framework Data Provider for Oracle" type="System.Data.OracleClient.OracleClientFactory, System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <add name="SqlClient Data Provider" invariant="System.Data.SqlClient" description=".Net Framework Data Provider for SqlServer" type="System.Data.SqlClient.SqlClientFactory, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <add name="Microsoft SQL Server Compact Data Provider" invariant="System.Data.SqlServerCe.3.5" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=3.5.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />-->
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <!--*****************SqlServer*****************-->
    <!--
    <add name="DbHelperProvider" connectionString="System.Data.SqlClient"/>
    -->
    <!--SqlServer-->
    <!--
    <add name="DbHelperConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=AdventureWorks;User ID=sa;Password=sa"
      providerName="System.Data.SqlClient" />
    -->
    <!--Windows-->
    <!--
    <add name="DbHelperConnectionString" connectionString="Data Source=localhost;Initial Catalog=AdventureWorks;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->

    <!--*****************Access*****************-->
    <!--
    <add name="DbHelperProvider" connectionString="System.Data.OleDb"/>
    <add name="access_con" connectionString="Provider= Microsoft.Jet.Oledb.4.0;Jet OleDb:DataBase Password=sa;Data Source="/>
    <add name="access_path" connectionString="~/App_Data/DB.mdb"/>-->

    <!--*****************Access*****************-->
    <!--<add name="DbHelperProvider" connectionString="System.Data.SQLite"/>
    <add name="DbHelperConnectionString" connectionString="Data Source=Plugins\DLMS\DB\System\System.db;Password=HexView40Pro" providerName="System.Data.SQLite" />-->
  </connectionStrings>
  <!--*****************Plugins*****************-->
  <Plugins>
    <Plugin>
      <add pluginName="DLMS" location="Plugins\DLMS\DLMS.Core.dll" fullName="Hex.HexView.DLMS.Core.DlmsCosemDefaultForm"/>
      <!--<add pluginName="IEC62056_21" location="Plugins\IEC62056_21\IEC62056_21.Core.dll" fullName="Hex.HexView.IEC62056_21.Core.IEC21DefaultForm"/>
      <add pluginName="HX645" location="Plugins\HX645\HX645.Core.dll" fullName="Hex.HexView.Hexing645.Core.HX645DefaultForm"/>
      <add pluginName="UTC" location="Plugins\UTC\UTC.Core.dll" fullName="Hex.HexView.UTC.Core.UTCDefaultForm"/>-->
      <!--<add pluginName="ModbusRTU" location="Plugins\ModbusRTU\ModbusRTU.Core.dll" fullName="Hex.HexView.ModbusRTU.Core.ModbusRTUDefaultForm"/>-->
      <!--<add pluginName="BMS" location="Plugins\BMS\BMS.Core.dll" fullName="Hex.HexView.BMS.Core.BMSDefaultForm"/>-->
      <!--<add pluginName="ANSI" location="Plugins\ANSI\ANSI.Core.dll" fullName="Hex.HexView.ANSI.Core.ANSIDefaultForm"/>-->
      <!--<add pluginName="MimiDLMS" location="Plugins\MiniDLMS\Mini.DLMS.Core.dll" fullName="Hex.HexView.Mini.DLMS.Core.MiniDlmsCosemDefaultForm"/>-->
      <!--<add pluginName="Module" location="Plugins\Module\Module.Core.dll" fullName="Hex.HexView.Module.Core.ModuleDefaultForm"/>-->
    </Plugin>  
  </Plugins>
  <!--*****************Plugins*****************-->
  <runtime >
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="SQLite;Regedit;itextsharp;DevExpress;Json;NPOI;Globalization;Log4net;RDLC;ReportViewer;ZTE;Plugins\ProtocolStackBase;Plugins\PhysicalLayer;Plugins\PhysicalLayer\SupperSocket;Plugins\PhysicalLayer\ZLGCAN;Plugins\PhysicalLayer\ZLGCAN\kerneldlls;Plugins\DLMS;Plugins\DLMS\Protocol;Plugins\IEC62056_21;Plugins\IEC62056_21\Protocol;Plugins\HX645;Plugins\HX645\Protocol;Plugins\UTC;Plugins\UTC\Protocol;Plugins\UTC;Plugins\ModbusRTU\Protocol;Plugins\BMS\Protocol;Plugins\ANSI;Plugins\ANSI\Protocol;Plugins\Module;Plugins\Module\Protocol;Plugins\Module\CPX3.Write2SFHexVer;"/>
    </assemblyBinding>
    <!--<loadFromRemoteSources enabled="true"/>-->
  </runtime>

  <userSettings>
    <Hex.Framework.Properties.Settings>
      <!--市场特征参数
        >> Hexing : 标准上位机
        >> Iran：伊朗BSTC上位机，启动界面、登录界面、主界面、注册界面图标使用BSTC专用图标，上位机名称改为"BSCT 4.0 Pro"
        >> Morocco：摩洛哥上位机，注册码带时间因子，且每次卸载上位机时删除注册表内的注册信息（需要打包时特殊处理）
        >> HHM：越南HHM上位机，启动界面、登录界面使用HHM专用logo，上位机名称改为"HHM-AMI"
        >> VoltageLatin: 墨西哥Voltage Latin分公司上位机，启动界面、登录界面、主界面、注册界面图标使用Voltage Latin专用图标
        >> BAYLAN: 塞浦路斯Baylan（土耳其）上位机，启动界面、登录界面、主界面、注册界面图标使用Baylan专用图标，删除Help文件夹和ViewHelp菜单功能（需要打包时特殊处理）
        >> Poland：波兰上位机，注册码带时间因子，且每次卸载上位机时删除注册表内的注册信息（需要打包时特殊处理）-->
        
      <setting name="MARKET" serializeAs="String">
        <value>Hexing</value>
      </setting>
    </Hex.Framework.Properties.Settings>
  </userSettings>
</configuration>
