<?xml version="1.0"?>
<Configs xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Config name="Plugin" value="fEjbJrRAeO4=" />
  <Config name="UserName" value="mzl7BseYe8AXCAoyv9x6EQ==" />
  <Config name="UserPassword" value="TjPHHc+YriU=" />
</Configs>